@import url(preflight.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --num1: 5;
  --num2: 35;
}

@property --num1 {
  syntax: "<integer>";
  initial-value: 5;
  inherits: false;
}
@property --num2 {
  syntax: "<integer>";
  initial-value: 35;
  inherits: false;
}

/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@layer base {
  button {
    transition: 300ms ease-in;
  }
}

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@layer components {
  .h1 {
    font-size: 1.25rem;
    font-size: clamp(
      1.25rem,
      0.7933937823834196rem + 1.9430051813471503vw,
      3.125rem
    );
  }
  .h2 {
    font-size: 1.125rem;
    font-size: clamp(1.125rem, 0.85rem + 1.375vw, 2.5rem);
  }
  .h3 {
    font-size: 1rem;
    font-size: clamp(1rem, 0.825rem + 0.875vw, 1.875rem);
  }
  .h1,
  .h2,
  .h3 {
    @apply font-montserrat font-bold leading-none text-primary;
  }
  .h2 {
    @apply mb-5;
  }
  .h3 {
    @apply mb-3;
  }

  .container {
    @apply mx-auto max-w-[1400px];
  }
  .h4 {
    @apply mt-2 font-bold;
  }
}

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@layer utilities {
  .text-base-clamp-lg {
    font-size: 1rem;
    font-size: clamp(
      1rem,
      0.8173575129533679rem + 0.7772020725388601vw,
      1.75rem
    );
  }
  .text-base-clamp-sm {
    font-size: 1rem;
    font-size: clamp(
      1rem,
      0.908678756476684rem + 0.38860103626943004vw,
      1.375rem
    );
  }
  .cta,
  .primary,
  .secondary {
    @apply rounded border-2 px-10 py-2 font-montserrat font-bold;
  }
  .cta {
    @apply border-accent bg-accent  text-primary hover:bg-primary hover:text-accent;
  }
  .primary {
    @apply border-primary bg-primary text-background hover:bg-background hover:text-primary;
  }
  .secondary {
    @apply border-primary bg-background text-primary hover:bg-primary hover:text-background;
  }
  .open {
    grid-template-rows: 1fr;
    padding: 16px;
  }
}

/* @font-face {
  font-family: 'Gotham Book';
  src: url('fonts/Gotham\ Book\ Font.otf');
} */

/* _____________________________________________________ animations ________________________________________________ */

/* data-animation="num1" data-duration="3s" data-timing="cubic-bezier(0,0,0,1)" for best results class="before:[content:counter(num1)] [counter-reset:num1_var(--num1)]"*/
@keyframes num1 {
  from {
    --num1: 0;
  }
  to {
    --num1: 5;
  }
}
@keyframes num2 {
  from {
    --num2: 0;
  }
  to {
    --num2: 35;
  }
}

@keyframes fade-from-left {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
}

@keyframes fade-from-right {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
}

@keyframes fade-from-top {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
}

@keyframes fade-from-bottom {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
